<div id="sidebar" class="sidebar">
    <ul>
        <li><a href="/paintings">Paintings</a></li>
        <li><a href="/music">Music</a></li>
        <li><a href="/anime">Animation</a></li>
        <li><a href="/dance">Dance</a></li>
    </ul>
</div>